*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 80px;

  font-family:"Montserrat",sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #1f1e45;
}


.container {
    margin: 0 auto;
    max-width: 1110px;
    background-image: url("images/photo\ 1.png");
    background-size: 790px auto;
    background-repeat: no-repeat;
    background-position: left top;
}

.title {
    margin: 0 0 60px;
    padding-top: 50px;
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
}


.products-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 1110px;
  gap: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type:none;
}


.products-list > li {
    position: relative;

    display: flex;
    flex-direction: column;

    background: #f7f7f7;
    padding: 28px;
    width: 340px;
    min-height: 573px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 8px;
}

.products-list> li:hover {
background-color: #b2a7f1;
}

.firstcard {
    width: 370px;
    padding: 32px;

    background-color: #e1e0e6;

    box-shadow: 0 20px 43px rgba(116, 3, 88, 0.3);
}

.image-wrapper {
    position: relative;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 6px 12px;
    background-color: #29831e;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
}

.ratting {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-bottom: 12px;
    font-size: 20px;
    color: #f4c542;
}
.zvezda {
    color: #f4c542;
}

.rating-value {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #2227ad;
}

.half-star {
    position: relative;
    color: #d3d3d3;
}

.half-star::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #f4c542;
}

.products-list img {
    display: block;
    width: 284px;
    height: 245px;
    object-fit: contain;
    margin-bottom: 20px;
}

.skin-type {
    display: block;
    font-weight: 400;
    color: #515076;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
}

.products-list h2 {
    font-size: 18px;
    line-height: 22px;
    margin: 10px;
    font-weight: 700;
}

.products-list p {
    margin: 16px;
}

.products-list ul {
    margin: 6px 0 22px;
    padding-left: 18px;
}

.products-list b {
    font-weight: 700;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 20px;
}

.price span {
  font-weight: 400;
}

.buy-button {
    display: block;
     width: 180px;
     margin: 20px auto 0;
     padding: 12px 24px;
     background-color: #795ea3;
     color: white;
     border: none;
      border-radius: 8px;
      cursor: pointer;
      font-family: inherit;
      font-size: 16px;
}

.buy-button:hover {
    background-color: #3f3d63;
}